.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6px;
}

.copyright__link {
  font-size: 0;
  line-height: 0;
}

.copyright__logo {
  width: 42px;
  height: 42px;
  padding-left: 6px;
}
