@import "../variables";
@import "../typography";

.form {
  padding-bottom: 4px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 57px 60px 61px;
  }

  @media (min-width: @desktop-width) {
    padding: 42px 124px 66px;
  }
}

.form__section {
  padding: 25px 20px;
  border-top: 1px solid @alto-gray;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    border-top: none;
    padding: 70px 0 0;
  }

  &--introduce {
    @media (min-width: @tablet-width) {
      padding-top: 0;
      max-width: 50%;
      padding-left: 56px;
      text-align: left;
    }

    @media (min-width: @desktop-width) {
      padding-left: 79px;
    }
  }

  &--contacts {
    @media (min-width: @tablet-width) {
      width: 100%;
      height: 308px; // FIXME set proper gaps between form-groups
    }

    @media (min-width: @desktop-width) {
      height: 209px; // FIXME set proper gaps between form-groups
    }
  }

  &--impression {
    @media (min-width: @tablet-width) {
      order: -1;
      max-width: 50%;
      padding-top: 0;
      padding-right: 50px;
      text-align: left;
      border-right: 1px solid @alto-gray;
      height: 297px; // FIXME set proper gaps between form-groups
    }

    @media (min-width: @desktop-width) {
      & .form__title {
        text-align: center;
      }
    }
  }

  &--attractions {
    @media (min-width: @tablet-width) {
      height: 306px; // FIXME set proper gaps between form-groups
    }

    @media (min-width: @desktop-width) {
      height: 216px; // FIXME set proper gaps between form-groups
    }
  }

  &--emotions {
    @media (min-width: @tablet-width) {
      width: 100%;
      height: 301px; // FIXME set proper gaps between form-groups
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      height: 301px; // FIXME set proper gaps between form-groups
    }
  }

  &--submit {
    border-top: none;

    @media (min-width: @tablet-width) {
      max-width: 50%;
    }
  }

  &--legend {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.form__group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &--vertical {
    flex-direction: column;
    align-items: start;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__title {
  .title();
  margin-bottom: 22px;

  &--outstanding {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: center;
      align-items: center;

      &::before,
      &::after {
        content: "";
        height: 1px;
        background-color: @alto-gray;
        vertical-align: middle;
        margin-right: 60px;
        flex-grow: 1;
      }

      &::after {
        margin-left: 60px;
        margin-right: 0;
      }
    }
  }
}

.form__label {
  padding-right: 14px;

  &::after {
    content: ":";
  }

  &--required {
    &::after {
      content: "*:";
    }
  }

  &--wrapper {
    display: flex;
    align-items: center;
    padding-right: 0;
    margin-bottom: 16px;

    &::after {
      content: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__input {
  font-size: 18px;
  font-weight: bold;
  height: 58px;
  min-width: 50px;
  background-color: @concrete-gray;
  border: none;
  padding: 22px 22px 22px;

  &[type="radio"] {
    width: 56px;
    height: 56px;
    margin: 0 22px 0 0;
  }

  &[type="checkbox"] {
    width: 56px;
    height: 56px;
    margin: 0 22px 0 0;
  }

  &::placeholder {
    color: black;
  }
}

.form__textarea {
  resize: none;
  display: block;
  width: 100%;
  height: 160px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: @concrete-gray;
  padding: 22px;

  &::placeholder {
    color: black;
  }
}
