@import "../variables";
@import "../typography";

.form {
  padding-bottom: 4px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 57px 60px 61px;
  }

  @media (min-width: @desktop-width) {
    padding: 42px 120px 66px;
  }
}

.form__section {
  padding: 25px 20px;
  border-top: 1px solid @alto-gray;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    border-top: none;
    padding: 70px 0 0;
  }

  &--introduce {
    @media (min-width: @tablet-width) {
      padding-top: 0;
      max-width: 50%;
      padding-left: 56px;
      text-align: left;
    }

    @media (min-width: @desktop-width) {
      padding-left: 79px;
    }
  }

  &--contacts {
    @media (min-width: @tablet-width) {
      width: 100%;

      .form__title {
        margin-bottom: 25px;
      }
    }

    @media (min-width: @tablet-width) and (max-width: (@desktop-width - 1px)) {
      .form__label {
        text-align: left;
        padding-left: 21px;
        margin-bottom: 8px;
      }
    }

    @media (min-width: @desktop-width) {
      .form__title {
        margin-bottom: 72px;
      }

      & > .form__group {
        justify-content: space-between;

        & > .form__group {
          width: 50%;

          &:first-child {
            padding-right: 80px;
          }
        }
      }
    }
  }

  &--impression {
    @media (min-width: @tablet-width) {
      order: -1;
      max-width: 50%;
      padding-top: 0;
      padding-right: 50px;
      text-align: left;
      border-right: 1px solid @alto-gray;
    }

    @media (min-width: @desktop-width) {
      & .form__title {
        text-align: center;
      }
    }
  }

  &--attractions {
    @media (min-width: @tablet-width) {
      padding-top: 57px;

      .form__title {
        margin-bottom: 42px;
      }

      .form__label--wrapper {
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 32px;
        }
      }
    }

    @media (min-width: @desktop-width) {
      padding-top: 53px;
    }
  }

  &--emotions {
    @media (min-width: @tablet-width) {
      padding-top: 36px;
      width: 100%;
    }

    @media (min-width: @desktop-width) {
      padding-top: 34px;
      width: 100%;
    }
  }

  &--submit {
    border-top: none;

    @media (min-width: @tablet-width) {
      max-width: 50%;
      padding-top: 58px;
    }
  }

  &--legend {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 62px;
    }
  }
}

.form__group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--vertical {
    @media (max-width: (@desktop-width - 1px)) {
      flex-direction: column;
      align-items: stretch;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &--checkboxes {
    & > .form__group {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width: @tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 573px;
      padding-left: 58px;

      & > .form__group {
        width: 50%;
        margin-bottom: 34px;

        &:last-child {
          margin-bottom: 34px;
        }
      }
    }

    @media (min-width: @desktop-width) {
      max-width: initial;
      padding-left: 0;

      & > .form__group {
        width: auto;
      }
    }
  }

  &--radio-buttons {
    flex-direction: column;
    align-items: start;

    & .form__group {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: @tablet-width) {
        margin-bottom: 25px;
      }
    }
  }
}

.form__title {
  .title();
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  &--outstanding {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: center;
      align-items: center;

      &::before,
      &::after {
        content: "";
        height: 1px;
        background-color: @alto-gray;
        vertical-align: middle;
        margin-right: 60px;
        flex-grow: 1;
      }

      &::after {
        margin-left: 60px;
        margin-right: 0;
      }
    }
  }
}

.form__label {
  padding-right: 14px;

  &::after {
    content: ":";
  }

  &--required {
    &::after {
      content: "*:";
    }
  }

  &--bold {
    display: flex;
    align-items: center;
    padding-right: 0;
    font-weight: bold;
    font-size: 18px;
    text-transform: none;

    &::after {
      content: none;
    }
  }
}

.form__input {
  font-size: 18px;
  font-weight: bold;
  height: 58px;
  min-width: 50px;
  background-color: @concrete-gray;
  border: none;
  padding: 22px 22px 22px;

  &[type="text"],
  &[type="tel"],
  &[type="email"] {
    flex-grow: 1;
  }

  &[type="radio"] {
    width: 56px;
    height: 56px;
    margin: 0 22px 0 0;
  }

  &[type="checkbox"] {
    width: 56px;
    height: 56px;
    margin: 0 22px 0 0;
  }

  &::placeholder {
    color: black;
  }
}

.form__radio-button {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;

    &::before {
      content: "";
      width: 54px;
      height: 54px;
      border-radius: 50%;
      margin-right: 20px;
      background-color: @seashell-gray;
    }
  }

  &:checked + label::before {
    background-color: black;
    border: 15px solid @seashell-gray;
  }
}

.form__checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;

    &::before {
      content: "";
      width: 54px;
      height: 54px;
      margin-right: 20px;
      background-color: @seashell-gray;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 54px;
      height: 54px;
      background: data-uri("../../img/icon-tick.svg") no-repeat center;
      opacity: 0;
    }
  }

  &:hover + label::before {
    background-color: @mercury-gray;
  }

  &:active + label::before {
    background-color: @alto-gray;
  }

  &:checked + label::after {
    opacity: 1;
  }

  &:checked:active + label::after {
    opacity: 0.5;
  }
}

.form__textarea {
  resize: none;
  display: block;
  width: 100%;
  height: 160px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: @concrete-gray;
  padding: 22px;

  &::placeholder {
    color: black;
  }
}

.form__input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background-color: @mercury-gray;
}
