@import "colors";
@import "resets";

.button {
  .button-reset();

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &--primary {
    height: 58px;
    font-size: 21px;
    line-height: 26px;
    background-color: @light-blue;
  }

  &--primary:hover {
    background-color: @fountain-blue;
  }

  &--primary:active {
    background-color: @steel-blue;
    color: fade(white, 30%);
  }

  &--primary[disabled] {
    background-color: @mercury-gray;
  }

  &--social {
    width: 46px;
    height: 48px;
    line-height: 0;
    font-size: 0;
    background-color: @light-blue;
  }

  &--social:hover {
    background-color: @fountain-blue;
  }

  &--social:active {
    background-color: @steel-blue;
    color: fade(white, 30%);
  }

  &--social[disabled] {
    background-color: @mercury-gray;
  }
}
