@import "typography";
@import "colors";

.page-section {
  &--blue {
    background-color: @light-blue;
  }

  &--gray {
    background-color: @light-gray;
  }

  &--city-intro {
    padding: 40px 32px 24px 32px;
  }

  &--true-city {
    padding: 59px 28px 38px 28px;
  }

  &--city-features {
    padding: 22px 38px 38px 18px;
  }

  &--devil-bridge {
    padding: 39px 25px 38px 23px;
  }

  &--other-features {
    padding: 26px 20px 28px;
  }
}

.page-section__title {
  .title();
  margin-bottom: 28px;
}
