@import "typography";

.page-section {
  &--blue {
    background-color: @light-blue;
  }

  &--city-intro {
    padding: 40px 32px 24px 32px;
  }

  &--true-city {
    padding: 59px 28px 38px 28px;
  }
}

.page-section__title {
  .title();
  margin-bottom: 28px;
}
