.welcome {
  height: 390px;
  background-image:
    url("/img/bg-intro-triangle-mobile.svg"),
    url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain, auto;
  background-position: bottom, center;

  &--small {
    height: 158px;
    background-position: center bottom;
  }
}
